<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quam
        illo doloribus mollitia voluptatem sapiente perferendis temporibus
        pariatur! Incidunt, inventore.
      </p>
    </div>
    <div>
      <a href="#" class="btn btn--secondary btn--stretched">get Started</a>
    </div>
  </div>
</div>
